# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Some of the popular languages that Data Scientists use are:
- Some of the commonly used libraries used by Data Scientists include:
- Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Jupyter Notebook
2. Pandas
3. TensorFlow
4. Apache Hadoop

| Data Science Tools |
| ------------------ |
| Jupyter Notebook/Lab |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rohan